/* Marion Geary */
.CompareTwoPlayers {
  text-align: center;
  background-color: #282c34;
  color: floralwhite;
  min-height: 100vh;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.PlayerDiv {
  display: inline-block;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.Playerz {
  padding: 20px;
  width: 30%;
  margin: 20px;
}

form {
  float: center;
  padding: 10px;
  width: 50%;
  margin: auto;
}

input {
  width: 100%;
  box-sizing: border-box;
  background-color: #404040;
  color: white;
  border-radius: 0.5em;
  border-color: #ffffff;
}

input::placeholder {
  color: lightgrey;
  opacity: .8;
}

input:focus {
  border: 3px solid #555;
}

.Vs {
  float: left;
  height: 200px;
  position: relative;
  width: 5%;
  padding: 10px;
}

h1 {
  float: center;
  position: absolute;
  bottom: 0;
  margin: auto;
  vertical-align: bottom;
	display: table-cell;
  color: #b3b3b3;
}


