/* Marion Geary */
.Player {
    text-align: center;
    color: #eeffff;
    font-weight: 700;
    font-family: 'Arial';
    float: center;
    padding: 20px;
}

.img-player {
    background-color: #eeffff;
    border-radius: 50%;
    border: 2px solid #f78c6c;
}

.img-logo {
    border: 0px solid #eeffff;
    border-radius: 0%;
    float: left;
}

header {
    padding: 10px;
}

p {
    font-size: 15px;
    font-weight: 200;
}
