.inactive {
    background-color: #3F3F3F;
    border: 1px solid #3F3F3F;
    border-radius: 4px;
    color: #B0BEC5;
    cursor: pointer;
    font-family: arial,sans-serif;
    font-size: 14px;
    height: 28px;
    line-height: 27px;
    min-width: 54px;
    padding: 2px 15px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: pre;
    margin: 3px;
    text-decoration: none;

}

.inactive:hover {
    color: #eeffff;
    border-color: #82aaff;
    box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
    background-color: #82aaff;
}

.inactive:focus {
    border-color: #82aaff;
    outline: none;
  }

.active {
    color: #eeffff;
    background-color: #82aaff;
}

.nav-div {
    text-align: center;
}

nav {
    position: -webkit-sticky;
    position: sticky;
    display: inline-flex;
    left: 0;
    align-self: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: calc(10px + 2vmin);
}