/* Jacob Snyder */

.center {
    margin: auto;
    width: 10%; 
    padding: 20%;
}

.Mydiv {
    display: flex;
}

thead {
    position: sticky;
    top: 0;
}

table{
    width: 100%;
    color: rgb(255, 255, 255);
}

th {
    font-family: 'helvetica';
    background-color: rgb(73, 84, 95);
    text-align: center;
    font-size: 16px;
}

tr {
    font-family: helvetica;
    font-weight: bold;
    font-size: 16px;
    background-color: slategray;
    text-align: left;
    vertical-align: bottom;
    height: 50px;
}

td {
    text-align: center;
    vertical-align: middle;
}

tr:nth-child(even) {
    background-color: rgb(73, 84, 95);
  }

tr:hover {
    background-color: #363636;
}
