/* Jacob Snyder */

.center {
    margin: auto;
    width: 10%; 
    padding: 20%;
}

.Mydiv {
    display: flex;
}

.bound {
    width: 45%;
}

thead {
    position: sticky;
    top: 0;
    z-index: 1;
}

table{
    width: 100%;
    color: #eeffff;
}

th {
    font-family: 'helvetica';
    background-color: #1A1A1A;
    text-align: center;
    font-size: 16px;
}

tr {
    font-family: helvetica;
    font-weight: bold;
    font-size: 16px;
    background-color: #292929;
    text-align: left;
    vertical-align: bottom;
    height: 50px;
}

td {
    text-align: center;
    vertical-align: middle;
}

tr:nth-child(even) {
    background-color: #212121;
  }

tr:hover {
    background-color: #3F3F3F;
}
