/* Formatting based on https://www.digitalocean.com/community/tutorials/react-tabs-component (CC BY-NC-SA 4.0 license). */

.tabList {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tabListItem {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.activeTab {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}